
.intro__picture {
  object-fit: cover;    /*等比縮放 圖片不變形*/
  /* max-width: 30rem; */
  width: clamp(10rem, 50vw, 30rem);;
  aspect-ratio: 1 / 1;  /*1:1比例*/
  border-radius: 50%;
}

.intro__font {
  text-align: justify;
  max-width: 30rem;
  font-family: var(--font-serif);
}

.intro__title {

  font-size: clamp(var(--font-size-xxl), 2vw, 100px);
}

.intro__subtitle {

  font-size: clamp(var(--font-size-m),1vw,75px);
}

.intro__description {
  
  font-size: clamp(var(--font-size-xs), 0.5vw, 50px);
}

.btn_circle {
  width: clamp(6rem, 8vw, 8rem);
  height: clamp(6rem, 8vw, 8rem);

  display: flex;
  justify-content: center;
  align-items: center;


  border: 1px solid var(--color-text);
  border-radius: 50%;  /*圓形*/
  aspect-ratio: 1 / 1;  /*1:1比例*/
  
  font-family: var(--font-serif);
  font-size: var(--font-size-s);
  font-weight: bold;
  color: var(--color-text);
  text-decoration: none;  /*移除底線*/
}

.btn_circle:hover {
  color: var(--color-primary);
  border-color: var(--color-primary);
  background: color-mix(in  srgb, #000000 0%, transparent);   /* 透明度背景色 數字越小越透 */
  cursor: pointer;  /*滑鼠變手指*/
  transition: all 0.3s ease;
}

.btn_resume {
  background-color: var(--color-btn-resume);
}

.btn_project {
  background-color: var(--color-btn-projects);
}

.btn_contact {
  background-color: var(--color-btn-contact);
}
