.site-header {
    width: 100%;
    margin-inline: auto;  /* 置中 */
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--space-8) var(--space-4);
    gap: var(--space-4);
}


.container {
    width: min(calc(100% - 2rem), var(--container));
    /* width: min(100%-2rem, var(--container)); */
    padding: var(--space-3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
