.projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-6);
}

.projects__title {
    font-family: var(--font-serif);
    font-size: var(--font-size-xl);
    font-style: bold;
    color: var(--color-text);
    margin-bottom: var(--space-4);
    margin-left: 2rem;
}

.project-items { /* Each project item container 包含title description piv*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
    align-items: center;
}

.project__grid { /* 包含title description */
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    padding-right: var(--space-6);
    font-family: var(--font-serif);
    color: var(--color-text);
}

.item__title {
    font-size: var(--font-size-m);
}

.item__description {
    font-size: var(--font-size-s);
    line-height: 1.5;
}

.link__box {
    width: max-content;
}

.github_link {
    color: var(--color-text);
    display: flex;
    align-items: center;
    gap: var(--space-2);
    padding: var(--space-1) var(--space-2);
    text-decoration: none; /*移除底線*/
}
.github_link:hover{
    border-radius: 10px;
    background-color: rgb(177, 177, 177);
    color: aliceblue;
    transition: all 0.3s ease;
}

/* 當父層 .github_link 被 hover 時，子元素 .github_icon 也變色 */
.github_link:hover .github_icon {
    filter: brightness(0) invert(1);    /* 變白色 */
    transition: all 0.3s ease;
}

.github_icon {
    width: 25px;
    aspect-ratio: 1 / 1;  /*1:1比例*/
    cursor: pointer;
}

.github_text {

    font-size: var(--font-size-s);
    cursor: pointer;
}

.project-pic {
    margin: 2rem;
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid gray;
}


@media (max-width: 768px) {
    .project-items {
        grid-template-columns: 1fr;
        gap: var(--space-2);
    }
    .project-pic {
        margin: 0;
    }
}