@use '../variables';
@use '../mixin';

.projects {
    &__title {
        padding-top: variables.$space-12;
        @include mixin.font(variables.$font-serif, variables.$font-size-xl, variables.$color-text,bold);
    }
}

.item {
    margin: variables.$space-12 0;
    display: grid;
    grid-template-columns: max-content minmax(0,1fr);
    @media (max-width: variables.$bp-mobile) {
        grid-template-columns: 1fr;
    }

    &__title {
        @include mixin.font(variables.$font-serif, variables.$font-size-m, variables.$color-text,bold);
        margin-top: variables.$space-6;
    }
    &__description {
        @include mixin.font(variables.$font-sans, variables.$font-size-xs, variables.$color-text);
        margin-top: variables.$space-3;
        display: grid;
        row-gap: variables.$space-1;
                
    }
    &__pic {
        margin: variables.$space-6;
        width: 90%;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
        border: 1px solid gray;
    }
}