@use '../variables';
@use '../mixin';

.resume {
    &__title {
        padding-top: variables.$space-12;
        @include mixin.font(variables.$font-serif, variables.$font-size-xl, variables.$color-text,bold);
    }
}
.section {
    margin-top: variables.$space-16;
    &__title {
        @include mixin.font(variables.$font-serif, variables.$font-size-m, variables.$color-text,bold);
    }
    // &-rule {
    //     border: 0;
    //     height: 1px;
    //     background: variables.$color-surface;
    //     margin: variables.$space-16 0;
    //     /* 讓 hr 滿版： */
    //     width: 90dvw;               /* 動態視窗寬，避免 mobile 地址列問題 */
    //     position: relative;
    //     left: 50%;
    //     transform: translateX(-50%); /* 從容器置中拉到滿版 */
    // }
    .items {
        .item {
            margin: variables.$space-12 0;
            display: grid;
            grid-template-columns: max-content minmax(0,1fr);
            @media (max-width: variables.$bp-mobile) {
                grid-template-columns: 1fr;
            }
            &__date {
                white-space: nowrap;
                padding-right: variables.$space-3;
                @include mixin.font(variables.$font-sans, variables.$font-size-xs, variables.$color-text);
            }
            &__role {
                @include mixin.font(variables.$font-sans, variables.$font-size-s, variables.$color-text,bold);
            }
            &__desc {
                @include mixin.font(variables.$font-sans, variables.$font-size-xs, variables.$color-text);
                margin-top: variables.$space-3;
                display: grid;
                row-gap: variables.$space-1;
                
            }
        }
    }
}

.item__desc-skills {
    margin-bottom: variables.$space-24;
    padding-top: variables.$space-4;
    display: grid;
    row-gap: variables.$space-4;
    list-style-position: inside; 
    @include mixin.font(variables.$font-sans, variables.$font-size-xs, variables.$color-text);
}